* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav {
    width: 50%;
}

nav ul {
    padding: 25px 0px;
}

.logo {
    margin-left: 33%;
}

.logo > img {
   width: 150px; 
}

nav ul li {
    display: inline;
}

.link {
    text-decoration: none;
    padding: 25px;
    color: #263238;
    font-size: 20px;
}

.link:hover {
    color: #FF7324;
    transition: 0.3s;
}

.App {
    width: 100%;
}

.burger {
    display: none;
}

@media screen and (max-width: 928px) {
    .navbar > nav {
        position: absolute;
        margin-top: 205px;
        background: white;
        transform: translate(0px, 50px);
        align-items: center;
        justify-content: center;
        width: 90%;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 20px;
    }

    .menu-on {
        display: flex;
    }
    
    .menu-off {
        display: none;
    }

    .navbar > nav ul li {
        display: block;
        margin: 20px 0px;
    }

    .navbar .link {
        margin: 20px 0px;
        padding: 5px 100px;
    }

    .burger {
        display: initial;
    }

    .logo {
        margin-left: 70%;
    }


}


@media screen and (max-width: 781px) {
    .navbar > nav {
        position: absolute;
        margin-top: 205px;
        background: white;
        transform: translate(0px, 50px);
        align-items: center;
        justify-content: center;
        width: 90%;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 20px;
    }

    .navbar > nav ul li {
        display: block;
        margin: 20px 0px;
    }

    .navbar .link {
        margin: 20px 0px;
        padding: 5px 100px;
    }

    .burger {
        display: initial;
    }

    .logo {
        margin-left: 60%;
    }
}

@media screen and (max-width: 618px) {
    .navbar > nav {
        position: absolute;
        margin-top: 205px;
        background: white;
        transform: translate(0px, 50px);
        align-items: center;
        justify-content: center;
        width: 90%;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 20px;
    }

    .navbar > nav ul li {
        display: block;
        margin: 20px 0px;
    }

    .navbar .link {
        margin: 20px 0px;
        padding: 5px 100px;
    }

    .burger {
        display: initial;
    }

    .logo {
        margin-left: 37%;
    }

    .logo img {
        width: 130px;
    }
}

  