* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    width: 240px;
    margin: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.canvas h1 {
    margin-top: 10px;
    font-size: 30px;
    color: #263238;
}

.canvas img {
    width: 200px; 
    border-radius: 120px;
    border: 3px solid #FF7324;
    margin-bottom: 20px;
}

.canvas p{
    font-size: 18px;
    margin-top: 10px;
    color: #263238;
}